
.job {
    justify-content: center;

&__list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        padding: 0px;
        /* width: var(--box-sizing); */
        justify-content: center;
    }

&__card {
    display: flex;
    flex-direction: column;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}
&__card:hover,
&__card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
&__name {
    padding: 20px 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #ececec;
}
&__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
&__text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}
&__img {
    display: block;
    position: relative;
    overflow: hidden;
}
&__popup {
    content: '';
    position: absolute;
    background: rgba(33, 150, 243, 0.9);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 63px 24px;
    color: #ffffff;
    transform: translateY(0%);
    transition-property: transform;
    transition-duration: 450ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
&__card:hover &__popup {
    transform: translateY(-100%);
}
}
